<div class="container">
          <h1 class="display-5 fw-bold" style="text-align:center; margin-top:30px;">Welcome To Angular Exercise</h1> 
          <h3 style="text-align:center;font-size:60px; color:red; margin-top:100px;" ><i>Hii Everyone !</i></h3>
         <div class="xyz">
            <button class="btn btn-primary btn-lg" type="button" [routerLink]="['/employee']">Go To Employee</button>
          <button class="btn btn-primary  btn-lg dept" type="button" [routerLink]="['/department']">Go To Department</button>
</div> 
</div>      
